@page "/country/delete/{iso2}"

@using CountryService.BlazorAdminApp.HttpClients
@using CountryService.BlazorAdminApp.Problems
@using CountryService.Dtos.Country    
@using System.Threading
@inject ICountryHttpClient countryHttpClient
@inject NavigationManager navigationManager
@inject ToastService toastService

<PageTitle>Delete Country</PageTitle>

<h1>Delete Country</h1>

@if (loadComplete)
{
    @if (success)
    {
        <ConfirmDialog @ref="dialog" />

        <EditForm Model="Model" FormName="DeleteCountry">

            <div class="mb-3 col-md-6">
                <label for="@Model.Iso2" class="form-label">@Resource.Iso2</label>
                <InputText class="form-control" @bind-Value="@Model.Iso2" disabled="true" />
            </div>

            <div class="mb-3 col-md-6">
                <label for="@Model.Iso3" class="form-label">@Resource.Iso3</label>
                <InputText class="form-control" @bind-Value="@Model.Iso3" disabled="true" />
            </div>

            <div class="mb-3 col-md-6">
                <label for="@Model.IsoNumber" class="form-label">@Resource.IsoNumber</label>
                <InputNumber class="form-control" @bind-Value="@Model.IsoNumber" disabled="true" />
            </div>

            <div class="mb-3 col-md-6">
                <label for="@Model.Name" class="form-label">@Resource.Name</label>
                <InputText class="form-control" @bind-Value="@Model.Name" disabled="true" />
            </div>

            <div class="mb-3 col-md-6">
                <label for="@Model.CallingCode" class="form-label">@Resource.CallingCode</label>
                <InputText class="form-control" @bind-Value="@Model.CallingCode" disabled="true" />
            </div>

            <div class="btn-group">

                <button type="button" class="btn btn-danger" @onclick="HandleDeleteAsync">
                    <i class="bi bi-trash"></i>
                    Delete
                </button>

                <a class="btn btn-secondary" onclick="history.back();">
                    <i class="bi bi-arrow-left"></i>
                    Back
                </a>

            </div>

        </EditForm>
    }
    else
    {
        <br /><br />
        <div class="btn-group">

            <a class="btn btn-secondary" onclick="history.back();">
                <i class="bi bi-arrow-left"></i>
                Back
            </a>

        </div>
    }
}
else
{
    <Spinner Color="SpinnerColor.Success" />
}

@code {
    private ConfirmDialog dialog = default!;
    private Country Model = new(); 
    private bool loadComplete = false;
    private bool success = false;

    [Parameter]
    public string iso2 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Model = await countryHttpClient.GetCountryByIso2Async(iso2);
            success = true;
        }
        catch (ValidationProblemDetailsException validationProblemDetailsException)
        {
            ProblemDetailsExceptionHandler.HandleValidationProblemDetailsExceptionToastOnly(
                validationProblemDetailsException, 
                toastService,
                toastType: ToastType.Warning);
            success = false;
        }

        loadComplete = true;
        StateHasChanged();
    }

    private async Task HandleDeleteAsync()
    {
         bool confirmation = await dialog.ShowAsync(
            title: "Delete country", 
            message1: "Are you sure?");

        if (confirmation)
        {
            await countryHttpClient.DeleteCountryByIso2Async(iso2);

            toastService.Notify(new(ToastType.Success, "Country deleted."));

            navigationManager.NavigateTo("country");
        }
    }
}
