@page "/country"

@using CountryService.BlazorAdminApp.HttpClients
@using CountryService.BlazorAdminApp.Models
@using CountryService.BlazorAdminApp.Components.DataGrid

@inject ICountryHttpClient countryHttpClient

<PageTitle>Countries</PageTitle>

<h1>Countries</h1>

<button class="btn btn-primary" @onclick="AddCountry">
    <i class="bi bi-plus"></i>
    Add Country
</button>

@* <Loading Visible="@loading">

    <table class='table'>
        <thead>
            <tr>
                <th>Iso2</th>
                <th>Iso3</th>
                <th>IsoNumber</th>
                <th>Name</th>
                <th>CallingCode</th>
            </tr>
        </thead>
        <tbody>

            @if (hasData)
            {
                foreach (Country country in countries!)
                {
                    <tr>
                        <td>@country.Iso2</td>
                        <td>@country.Iso3</td>
                        <td>@country.IsoNumber</td>
                        <td>@country.Name</td>
                        <td>@country.CallingCode</td>
                    </tr>
                }
            }
            else
            {
                for (int i = 0; i < 10; i++)
                {
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                }
            }
            
        </tbody>
    </table>

</Loading>

<button class="btn btn-primary" @onclick="ShowLoading">Show loading</button>
<button class="btn btn-primary" @onclick="HideLoading">Hide loading</button>

<br /><br /> *@


<DataGrid columns="columns" TItem="Country" rows="countries" keyColumnName="iso2" showEditColumn="true" showDeleteColumn="true" />

@code {
    private List<Country>? countries;
    private bool loading = true;
    private bool hasData = false;
    private List<Column> columns = new()
    {
        new Column { Name = "Iso2", HeaderText = "ISO 2" },
        new Column { Name = "Iso3", HeaderText = "ISO 3" },
        new Column { Name = "IsoNumber", HeaderText = "ISO Number" },
        new Column { Name = "Name", HeaderText = "Name" },
        new Column { Name = "CallingCode", HeaderText = "Calling Code" }
    };

    protected override async Task OnInitializedAsync()
    {
        countries = await countryHttpClient.GetCountriesAsync();

        Thread.Sleep(2000);

        StateHasChanged();

        hasData = true;
    }

    private void AddCountry()
    {
        
    }

    private void ShowLoading()
    {
        loading = true;
    }

    private void HideLoading()
    {
        loading = false;
    }
}
