@page "/service-info"

@using CountryService.BlazorAdminApp.HttpClients
@using CountryService.Dtos.ServiceInfo  

@inject IServiceInfoHttpClient serviceInfoHttpClient

<PageTitle>Service Info</PageTitle>

<h1>Service Info</h1>

@if (modelDataLoaded)
{
    <dl class="row">
        <dt class="col-sm-3">Api URL</dt>
        <dd class="col-sm-9">@serviceInfo.URL</dd>

        <dt class="col-sm-3">Api health check</dt>
        <dd class="col-sm-9"><a href="@serviceInfo.URL/healthz" target="_blank">@serviceInfo.URL/healthz</a></dd>

        <dt class="col-sm-3">Prometheus metrics</dt>
        <dd class="col-sm-9"><a href="@serviceInfo.URL/metrics" target="_blank">@serviceInfo.URL/metrics</a></dd>

        <dt class="col-sm-3">Api Documentation</dt>
        <dd class="col-sm-9"><a href="@serviceInfo.URL/scalar" target="_blank">@serviceInfo.URL/scalar</a></dd>

        <dt class="col-sm-3">Database system</dt>
        <dd class="col-sm-9">@serviceInfo.DatabaseSystem</dd>

        <dt class="col-sm-3">Service name</dt>
        <dd class="col-sm-9">@serviceInfo.ServiceName</dd> 
        
        <dt class="col-sm-3">Version</dt>   
        <dd class="col-sm-9">@serviceInfo.Version</dd>  
        
        <dt class="col-sm-3">Environment</dt>   
        <dd class="col-sm-9">@serviceInfo.Environment</dd> 
        
        <dt class="col-sm-3">Machine name</dt>   
        <dd class="col-sm-9">@serviceInfo.MachineName</dd>   
        
        <dt class="col-sm-3">Operating system version</dt>   
        <dd class="col-sm-9">@serviceInfo.OSVersion</dd>   

        <dt class="col-sm-3">Is debug log level enabled</dt>   
        <dd class="col-sm-9">@serviceInfo.IsDebugLogLevelEnabled</dd>   

        <dt class="col-sm-3">Process id</dt>   
        <dd class="col-sm-9">@serviceInfo.ProcessId</dd>  
        
        <dt class="col-sm-3">Up time</dt>   
        <dd class="col-sm-9">@serviceInfo.Uptime</dd> 
    </dl>
}
else
{
    <Spinner Color="SpinnerColor.Success" />
}

@code {
    private ServiceInfo serviceInfo;
    private bool modelDataLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        serviceInfo = await serviceInfoHttpClient.GetServiceInfoAsync();

        modelDataLoaded = true;

        StateHasChanged();
    }
}
