<CustomErrorBoundary>
    <ChildContent>        
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-danger" role="alert">
            <h1>Country Service Administration Web Application</h1>
            <p class="fs-3 fw-bold">An error has occurred. The System Administrator has been notified.</p>            
            <a href="javascript:location.reload();" class="reload">Reload</a>
        </div>
    </ErrorContent>
</CustomErrorBoundary>
